{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Image{% endblock %}

{% block content %}
<h2>Upload Image</h2>
<form id="upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" name="image" id="file" class="inputfile" />
    <label for="file" id="file-label">Choose a file</label>
    <button type="submit">GENERATE</button>
</form>
{% if captions %}
    <p class="caption">Captions:
        <ul class="captions">
            {% for caption in captions %}
                <li>{{ caption }}</li>
            {% endfor %}
        </ul>
    </p>
{% endif %}

    <script>
        document.getElementById('file').addEventListener('change', function(event) {
            var input = event.target;
            var label = document.getElementById('file-label');
            if (input.files && input.files.length > 0) {
                var fileName = input.files[0].name;
                label.textContent = fileName;
            } else {
                label.textContent = 'Choose a file';
            }
        });

        document.getElementById('upload-form').addEventListener('submit', function(event) {
            var button = document.querySelector('button');
            button.textContent = 'Generating captions...';
            button.disabled = true;
        });
    </script>
{% endblock %}